<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center justify-content-between">
    <h1 class="logo">TODO LIST</h1>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="/home">Home</a></li>
        
        <li><a class="nav-item nav-link" *ngIf="isConnected() == false" href="/login">Login</a></li>
        <li><a class="nav-item nav-link" *ngIf="isConnected() == false" href="/register">Register</a></li>
        <li><a class="nav-item nav-link" *ngIf="isConnected() == true" href="/add_task">Add Task</a></li>
        <li><a class="nav-item nav-link" *ngIf="isConnected() == true" href="/login" (click)="logout()">Logout</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
  </div>
</header>

<br>
<br>
<br>

<div class="container">
  <alert></alert>
  <router-outlet></router-outlet>

</div>
